<% content_for :head do %>
  <meta property="og:title" content="Rotator IPA">
  <meta property="og:description" content="Brewing the beer you probably might want.">
  <meta property="og:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta property="og:url" content="https://rotatoripa.co">
  <meta name="twitter:title" content="Rotator IPA">
  <meta name="twitter:description" content="Brewing the beer you probably might want.">
  <meta name="twitter:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<%= render partial: 'pages/header' %>

<%= render partial: 'pages/home/beers', locals: { beers: @beers } %>

<%= render partial: 'pages/home/content' %>

<%= render partial: 'pages/home/posts', locals: { posts: @posts } %>
<p>
  Meatball spare ribs beef ribs jowl tenderloin rump strip steak capicola biltong pork ground round swine leberkas. Boudin picanha pastrami tri-tip ground round spare ribs flank ham hock beef ribs hamburger porchetta. Alcatra brisket strip steak sirloin filet mignon. Ham hock ball tip swine short ribs meatball.
</p>
<p>
  Beef ribs leberkas t-bone doner shankle filet mignon cow ham hock turkey flank spare ribs salami alcatra meatball sausage. Flank pastrami filet mignon picanha shank short ribs leberkas meatloaf pork chop pancetta kevin. Leberkas flank short ribs pastrami corned beef pork belly. Meatball filet mignon prosciutto, drumstick cow pig shankle boudin capicola ribeye landjaeger jerky t-bone chicken tail. Chislic chicken pastrami, frankfurter biltong short loin bresaola sausage t-bone ground round turkey fatback shoulder ball tip. Andouille bacon hamburger doner. Chicken tail pancetta ball tip beef boudin ham buffalo.
</p>
<p>
  Capicola pastrami pork loin drumstick turducken rump shoulder buffalo shank sausage beef landjaeger. Filet mignon prosciutto venison ball tip doner frankfurter chicken tri-tip cow brisket cupim pancetta shankle hamburger salami. Frankfurter pork belly venison ribeye pancetta pig pastrami. Doner jerky t-bone bresaola, chicken pork chop meatball porchetta ribeye prosciutto chuck sirloin shank. Tri-tip rump spare ribs ham. Brisket sausage leberkas pork belly burgdoggen. Chislic pork pork chop tail sirloin hamburger.
</p>
<p>
  Pork loin pork chop chislic beef ribs pig, ham biltong hamburger flank burgdoggen swine t-bone. Ham chicken meatball meatloaf, filet mignon swine landjaeger bacon tri-tip shankle pork burgdoggen rump. Doner bacon alcatra tongue pastrami. Tail prosciutto pastrami corned beef. Salami ground round chicken porchetta sirloin doner tail chislic shoulder pig brisket. Pork loin bresaola ham hock, turducken capicola tenderloin kevin jowl frankfurter short loin tongue venison t-bone bacon. Drumstick tri-tip shoulder chicken beef ribs andouille rump pastrami shank.
</p>

<%= render partial: 'pages/footer' %>
