<% content_for :head do %>
  <meta property="og:title" content="<%= @beer.name %>">
  <meta property="og:description" content="<%= @beer.description %>">
  <meta property="og:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta property="og:url" content="<%= beer_url(@beer) %>">
  <meta name="twitter:title" content="<%= @beer.name %>">
  <meta name="twitter:description" content="<%= @beer.description %>">
  <meta name="twitter:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta name="twitter:card" content="summary_large_image">
  <link itemprop="thumbnailUrl" href="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
<% end %>

<%= render partial: 'beers/header' %>

<% cache @beer, expires_in: 8.hours do %>
<div class="relative pb-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto mb-6">
      <h1 class="mt-2 mb-8 text-3xl text-center leading-normal font-extrabold tracking-tight text-gray-900 sm:text-6xl sm:leading-tight"><%= @beer.name %></h1>
    </div>
    <%= render partial: 'beers/show/stats', locals: { beer: @beer } %>
    <% if @beer.most_recent_daily_data_point %>
      <%= render partial: 'beers/show/alcohol', locals: { beer: @beer } %>
    <% end %>
    <div class="max-w-prose mx-auto mb-32">
      <%= render partial: 'beers/show/beer_chart', locals: { beer: @beer } %>
    </div>
    <div class="max-w-prose mx-auto mb-32">
      <% if @beer.beer_hourly_data_points.size.positive? %>
        <div data-controller="chart" data-chart-beer-value="<%= @beer.friendly_id %>">
          <canvas data-chart-target="canvas" class="my-auto"></canvas>
        </div>
      <% end %>
    </div>
    <div class="prose prose-lg text-gray-500 mx-auto">
      <%= @beer.recipe %>
    </div>
  </div>
</div>
<% end %>

<div class="relative max-w-7xl mx-auto">
  <%= render partial: 'beers/index/beers', locals: { beers: @beers } %>
</div>

<%= render partial: 'pages/footer' %>
