<% content_for :head do %>
  <meta property="og:title" content="<%= @beer.name %>">
  <meta property="og:description" content="<%= @beer.description %>">
  <meta property="og:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta property="og:url" content="<%= beer_url(@beer) %>">
  <meta name="twitter:title" content="<%= @beer.name %>">
  <meta name="twitter:description" content="<%= @beer.description %>">
  <meta name="twitter:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta name="twitter:card" content="summary_large_image">
  <link itemprop="thumbnailUrl" href="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
<% end %>

<%= render partial: 'beers/header' %>

<% cache @beer, expires_in: 8.hours do %>
<div class="relative pb-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto mb-6">
      <h1 class="mt-2 mb-8 text-3xl text-center leading-normal font-extrabold tracking-tight text-gray-900 sm:text-6xl sm:leading-tight"><%= @beer.name %></h1>
    </div>
    <%= render partial: 'beers/show/stats', locals: { beer: @beer } %>
    <% if @beer.most_recent_daily_data_point %>
      <%= render partial: 'beers/show/alcohol', locals: { beer: @beer } %>
    <% end %>
    <div class="max-w-prose mx-auto mb-32">
      <%= render partial: 'beers/shared/beer_chart', locals: { beer: @beer } %>
    </div>
    <div class="mx-auto mb-32 flex flex-row flex-wrap justify-center">
      <% if @beer.carboys.size.positive? %>
        <% @beer.carboys.each.with_index do |carboy, index| %>
          <div class="px-0 md:px-8 mt-16 md:mt-0 w-full md:w-6/12">
            <h4 class="text-center leading-5 font-medium text-gray-500 mb-4">Carboy #<%= index + 1 %></h4>
            <div data-controller="hourly-chart" data-hourly-chart-beer-value="<%= @beer.friendly_id %>" data-hourly-chart-carboy-value="<%= carboy.id %>">
            <div class="text-center mt-16 flex justify-center" role="status" data-hourly-chart-target="loading">
              <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
              <canvas data-hourly-chart-target="canvas" class="my-auto"></canvas>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="prose prose-lg text-gray-500 mx-auto">
      <%= @beer.recipe %>
    </div>
  </div>
</div>
<% end %>

<div class="relative max-w-7xl mx-auto">
  <%= render partial: 'beers/index/beers', locals: { beers: @beers } %>
</div>

<%= render partial: 'pages/footer' %>
