<!DOCTYPE html>
<html>
  <head>
    <title>Rotator IPA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/50025e69ef.js" crossorigin="anonymous"></script>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <div class="min-h-screen bg-white flex">
      <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
          <a href="/">
            <%= image_pack_tag 'ipa-logo.png', alt: 'Rotator IPA', class: 'h-12 w-auto' %>
          </a>

          <div class="mt-8">
            <div class="mt-6">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:block relative w-0 flex-1">
        <%= image_pack_tag 'champ-brewing.png', alt: 'Rotator IPA is the best!', class: 'absolute inset-0 h-full w-full object-cover' %>
      </div>
    </div>
  </body>
</html>
